/* Blanc : #FFFFFF
Gris clair : #F2F2F2
Bleu clair : #BDDADC
Gris foncé : #707070
Presque noir : #252525 */

@viewport {
    width: device-width;
}

html,
body {
    font-family: Museo Sans For Dell;
}

body {
    margin: 0;
}

h2 {
    font-size: 20px;
}

p,
ul,
li,
td {
    margin: 0;
    list-style: none;
    padding: 5px;
}

a:link,
a:visited,
a:hover {
    color: #707070;
    text-decoration: none;
}


/* Barre de recherche */

.barrerecherche {
    background-color: #F2F2F2;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 5px;
}


/* Tout la page sauf recherche */

.doublemenuetcentre {
    display: inline-flex;
}


/* Barre de gauche */

.barregauche {
    background-color: #FFFFFF;
    float: left;
    width: 10vw;
    word-wrap: break-word;
}


/* Identification de l'administrateur*/

.hautbarregauche {
    background-color: #bddadc;
    color: white;
    height: 20vh;
    text-align: center;
}

#portraitadmin {
    height: 75px;
    padding: 10px;
    border-radius: 50%;
}


/* Menu de l'administrateur */

.basbarregauche {
    height: 75vh;
    color: #707070;
}

.basbarregauche ul li a:hover {
    background-color: #BDDADC;
    text-decoration: none;
}

.myNav-link {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #707070;
    font-size: 22px;
}

.ui-accordion-content {
    display: none;
    text-decoration: none;
    color: #707070;
}

.active>.ui-accordion-content {
    display: block;
}


/* Partie centrale */

.contenucentre {
    background-image: url(Images/bgdimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
}

.titrecontenucentre {
    background-color: white;
    text-align: center;
    font-family: 'Gill Sans MT', sans-serif;
    color: #707070;
    border: dotted #bddadc 3px;
    margin: 25px 100px;
    ;
}

.listeusers {
    background-color: white;
}


/* Menu de droite de l'utilisateur */

.barredroite {
    background-color: #bddadc;
    color: #ffffff;
    float: right;
    width: 9vw;
    word-wrap: break-word;
    font-size: 20px;
    height: 95hv;
}

#logobarredroite {
    height: 120px;
}

.barredroite ul {}

.barredroite a:hover {
    cursor: pointer;
}