/* Blanc : #FFFFFF
Gris clair : #F2F2F2
Bleu clair : #BDDADC
Gris foncé : #707070
Presque noir : #252525 */

@viewport {
    width: device-width;
}

html,
body {
    font-family: Museo Sans For Dell;
}

body {
    margin: 0;
}

h1 {}

h2 {
    font-size: 20px;
}

p,
ul,
li,
td {
    margin: 0;
    list-style: none;
    text-align: center;
    padding: 5px;
}

a:link {}

a:visited {}

a:hover {
    color: #707070;
}

a:active,
a:focus {}

.barrerecherche {
    background-color: #F2F2F2;
    text-align: right;
    vertical-align: middle;
    height: 5vh;
}

.doublemenuetcentre {
    display: inline-flex;
}

.barregauche {
    background-color: #FFFFFF;
    float: left;
    width: 10vw;
    word-wrap: break-word;
}

.hautbarregauche {
    background-color: #bddadc;
    color: white;
    height: 10vh;
}

.basbarregauche {
    height: 85vh;
}

.contenucentre {
    background-image: url(Images/bgdimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
}

.barredroite {
    background-color: #bddadc;
    color: #ffffff;
    float: right;
    width: 10vw;
    word-wrap: break-word;
}

#logobarredroite {
    height: 120px;
}